@charset "utf-8";

/* リセットcss */
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

/* その他のスタイルは以下に記述していきます */

/*ここから*/
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  color: white;
  margin-left: 35px;
}

.header {
  height: 50px;
  background-color: black;
}

.header-nav {
  color: white;
}

.header-nav li {
  display: inline-block;
  margin-right: 30px;
}

#eyecatch {
  height: 600px;
  background: url(./img/eyecatch.jpg) no-repeat;
  background-size: cover;
  position: relative;
}

#eyecatch h2 {
  color: white;
  position: absolute;
  top: 60%;
  left: 10%;
  font-size: 30px;
  font-weight: bold;
}

.tagu-wrapper .news {
  color: white;
}

.flex-tagu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  top: 91%;
}

.tagu-left {
  background-color: white;
  width: 40%;
}

.news {
  background-color: black;
}

.news p {
  padding: 20px 30px;
}

.tagu-left p {
  padding-bottom: 10px;
}

.eyecatch_2-wrapper {
  background-color: black;
  height: 300px;
  position: relative;
}

.eyecatch_2-wrapper img {
  position: absolute;
  top: 20%;
  left: 60%;
}

.text {
  color: white;
  position: absolute;
  top: 35%;
  left: 20%;
}

.text h3,
.text p {
  margin-bottom: 30px;
}

.text p {
  font-size: 5px;
}

.text a {
  background-color: white;
  color: black;
  padding: 5px 10px;
}

.white {
  height: 100px;
  background-color: white;
}

.service {
  height: 900px;
  background-color: rgb(236, 231, 231);
  position: relative;
}

.service-wrapper-top {
  height: 400px;
  background: url(./img/service2.jpg) no-repeat;
  background-size: 50%;
  background-position: right;
}

.service h2 {
  text-align: center;
  font-size: 30px;
  padding: 10px 0;
}

.tag {
  background-color: white;
  width: 40%;
  padding: 40px 40px;
  position: absolute;
  top: 15%;
  left: 15%;
}

.tag h3,
.tag p {
  margin-bottom: 20px;
}

.tag a {
  border: 1px solid black;
  padding: 5px 20px;
  color: black;
}

.right {
  text-align: right;
}

.tag_2 {
  background-color: white;
  width: 40%;
  padding: 40px 40px;
  position: absolute;
  top: 70%;
  left: 40%;
}

.tag_2 h3,
.tag_2 p {
  margin-bottom: 20px;
}

.tag_2 a {
  border: 1px solid black;
  padding: 5px 20px;
  color: black;
}

.service-wrapper-bottom {
  background: url(./img/service1.jpg) no-repeat;
  background-size: 50%;
  background-position: left;
  height: 500px;
  background-color: rgb(236, 231, 231);
}

.form-wrapper {
  height: 500px;
}

.form-top {
  display: flex;
  color: white;
  padding-top: 100px;
}

.form-left {
  background: url(./img/company.jpeg) no-repeat;
  background-size: 650px;
  background-position: left;
  width: 50%;
  height: 200px;
  position: relative;
}

.form-left p,
.form-left h2 {
  text-align: center;
}

.form-left h2 {
  position: absolute;
  top: 25%;
  left: 36%;
}

.form-left p {
  position: absolute;
  top: 48%;
  left: 42%;
}

.form-right {
  background: url(./img/recruit.jpg) no-repeat;
  background-size: 650px;
  background-position: right;
  width: 50%;
  height: 200px;
  text-align: center;
  position: relative;
}

.form-right h2 {
  position: absolute;
  top: 25%;
  left: 43%;
}

.form-right p {
  position: absolute;
  top: 48%;
  left: 47%;
}

.form-bottom {
  background-color: black;
  display: flex;
  align-items: center;
  height: 100px;
  text-align: center;
  margin: 100px 100px;
}

.form-bottom h2,
.form-bottom p {
  color: white;
}

.form-bottom h2 {
  margin-left: 35px;
}

.form-bottom p {
  margin: 0 430px;
}

.contact-wrapper {
  color: white;
  height: 300px;
  background: url(./img/contact-bg.jpg) no-repeat;
  background-size: cover;
  margin-top: 100px;
  text-align: center;
  padding: 200px 20px;
}

.contact-wrapper a {
  color: white;
  border: 1px solid white;
  padding: 5px 20px;
}

.contact-wrapper h3,
.contact-wrapper p {
  margin-bottom: 30px;
}

.contact-wrapper h3 {
  margin-top: 50px;
  font-size: 30px;
}

.contact-wrapper h2,
.contact-wrapper h4 {
  margin-top: 10px;
}
